{% extends 'base.html' %}

{% block title %}{{ post.title }} - Blog{% endblock %}

{% block content %}
<section class="py-5 blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if post.featured_image %}
                    <img src="{{ post.featured_image.url }}" class="img-fluid mb-4" alt="{{ post.title }}">
                {% endif %}
                <h1 class="display-4 fw-bold mb-4">{{ post.title }}</h1>
                <p class="text-muted mb-4">
                    By {{ post.author.get_full_name }} on {{ post.publish_date|date:"F j, Y" }}
                </p>
                {% if post.tags %}
                    <p class="mb-4">
                        <strong>Tags:</strong> {{ post.tags }}
                    </p>
                {% endif %}
                <div class="blog-content">
                    {{ post.content|safe }}
                </div>
                <hr>
                <a href="{% url 'blog' %}" class="btn btn-secondary">Back to Blog</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
